assets
dist
node_modules
.github
.vscode
.idea
hashes.json
flake.lock
extra/admin-api
discord-response-samples
test/generated/*.json
src/util/migration/postgres-initial.ts
temp
scripts/schemaExclusions.json
