{
    "openapi": "3.1.0",
    "info": {
        "title": "Spacebar Server",
        "description": "Spacebar is a Discord.com server implementation and extension, with the goal of complete feature parity with Discord.com, all while adding some additional goodies, security, privacy, and configuration options.",
        "license": {
            "name": "AGPLV3",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Spacebar Docs",
        "url": "https://docs.spacebar.chat"
    },
    "servers": [
        {
            "url": "https://old.server.spacebar.chat/api/",
            "description": "Official Spacebar Instance"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Bearer/Bot prefixes are not required.",
                "bearerFormat": "JWT",
                "in": "header"
            }
        },
        "schemas": {
            "CreateFingerprintResponse": {
                "type": "object",
                "properties": {
                    "fingerprint": {
                        "type": "string"
                    }
                },
                "required": [
                    "fingerprint"
                ]
            },
            "GuildApplicationCommandPermissionsResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/GuildApplicationCommandPermissions"
                }
            },
            "ApplicationCommandSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "type": {
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ],
                        "type": "number"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "name_localizations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "name_localized": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "description": {
                        "type": "string"
                    },
                    "description_localizations": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "description_localized": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LocalizedApplicationCommandOption"
                        }
                    },
                    "default_member_permissions": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "dm_permission": {
                        "type": "boolean"
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/ApplicationCommandIndexPermissions"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "integration_types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApplicationIntegrationType"
                        }
                    },
                    "global_popularity_rank": {
                        "type": "integer"
                    },
                    "contexts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InteractionContextType"
                        }
                    },
                    "version": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "handler": {
                        "enum": [
                            1,
                            2,
                            3
                        ],
                        "type": "number"
                    }
                },
                "required": [
                    "application_id",
                    "default_member_permissions",
                    "description",
                    "name",
                    "version"
                ]
            },
            "InstanceUserDeleteSchema": {
                "$ref": "#/components/schemas/InstanceUserDeleteSchemaContent"
            },
            "UserSettingsUpdateSchema": {
                "type": "object",
                "properties": {
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "allow_accessibility_detection": {
                        "type": "boolean"
                    },
                    "animate_emoji": {
                        "type": "boolean"
                    },
                    "animate_stickers": {
                        "type": "integer"
                    },
                    "contact_sync_enabled": {
                        "type": "boolean"
                    },
                    "convert_emoticons": {
                        "type": "boolean"
                    },
                    "custom_status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomStatus"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_guilds_restricted": {
                        "type": "boolean"
                    },
                    "detect_platform_accounts": {
                        "type": "boolean"
                    },
                    "developer_mode": {
                        "type": "boolean"
                    },
                    "disable_games_tab": {
                        "type": "boolean"
                    },
                    "enable_tts_command": {
                        "type": "boolean"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "friend_discovery_flags": {
                        "type": "integer"
                    },
                    "friend_source_flags": {
                        "$ref": "#/components/schemas/FriendSourceFlags"
                    },
                    "gateway_connected": {
                        "type": "boolean"
                    },
                    "gif_auto_play": {
                        "type": "boolean"
                    },
                    "guild_folders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildFolder"
                        }
                    },
                    "guild_positions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "inline_attachment_media": {
                        "type": "boolean"
                    },
                    "inline_embed_media": {
                        "type": "boolean"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message_display_compact": {
                        "type": "boolean"
                    },
                    "native_phone_integration_enabled": {
                        "type": "boolean"
                    },
                    "render_embeds": {
                        "type": "boolean"
                    },
                    "render_reactions": {
                        "type": "boolean"
                    },
                    "restricted_guilds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "show_current_game": {
                        "type": "boolean"
                    },
                    "status": {
                        "enum": [
                            "dnd",
                            "idle",
                            "invisible",
                            "offline",
                            "online"
                        ],
                        "type": "string"
                    },
                    "stream_notifications_enabled": {
                        "type": "boolean"
                    },
                    "theme": {
                        "enum": [
                            "dark",
                            "light"
                        ],
                        "type": "string"
                    },
                    "timezone_offset": {
                        "type": "integer"
                    },
                    "view_nsfw_guilds": {
                        "type": "boolean"
                    }
                }
            },
            "UserSettingsSchema": {
                "type": "object",
                "properties": {
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "allow_accessibility_detection": {
                        "type": "boolean"
                    },
                    "animate_emoji": {
                        "type": "boolean"
                    },
                    "animate_stickers": {
                        "type": "integer"
                    },
                    "contact_sync_enabled": {
                        "type": "boolean"
                    },
                    "convert_emoticons": {
                        "type": "boolean"
                    },
                    "custom_status": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomStatus"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "default_guilds_restricted": {
                        "type": "boolean"
                    },
                    "detect_platform_accounts": {
                        "type": "boolean"
                    },
                    "developer_mode": {
                        "type": "boolean"
                    },
                    "disable_games_tab": {
                        "type": "boolean"
                    },
                    "enable_tts_command": {
                        "type": "boolean"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "friend_discovery_flags": {
                        "type": "integer"
                    },
                    "friend_source_flags": {
                        "$ref": "#/components/schemas/FriendSourceFlags"
                    },
                    "gateway_connected": {
                        "type": "boolean"
                    },
                    "gif_auto_play": {
                        "type": "boolean"
                    },
                    "guild_folders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildFolder"
                        }
                    },
                    "guild_positions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "inline_attachment_media": {
                        "type": "boolean"
                    },
                    "inline_embed_media": {
                        "type": "boolean"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "message_display_compact": {
                        "type": "boolean"
                    },
                    "native_phone_integration_enabled": {
                        "type": "boolean"
                    },
                    "render_embeds": {
                        "type": "boolean"
                    },
                    "render_reactions": {
                        "type": "boolean"
                    },
                    "restricted_guilds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "show_current_game": {
                        "type": "boolean"
                    },
                    "status": {
                        "enum": [
                            "dnd",
                            "idle",
                            "invisible",
                            "offline",
                            "online"
                        ],
                        "type": "string"
                    },
                    "stream_notifications_enabled": {
                        "type": "boolean"
                    },
                    "theme": {
                        "enum": [
                            "dark",
                            "light"
                        ],
                        "type": "string"
                    },
                    "timezone_offset": {
                        "type": "integer"
                    },
                    "view_nsfw_guilds": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "afk_timeout",
                    "allow_accessibility_detection",
                    "animate_emoji",
                    "animate_stickers",
                    "contact_sync_enabled",
                    "convert_emoticons",
                    "custom_status",
                    "default_guilds_restricted",
                    "detect_platform_accounts",
                    "developer_mode",
                    "disable_games_tab",
                    "enable_tts_command",
                    "explicit_content_filter",
                    "friend_discovery_flags",
                    "friend_source_flags",
                    "gateway_connected",
                    "gif_auto_play",
                    "guild_folders",
                    "guild_positions",
                    "inline_attachment_media",
                    "inline_embed_media",
                    "locale",
                    "message_display_compact",
                    "native_phone_integration_enabled",
                    "render_embeds",
                    "render_reactions",
                    "restricted_guilds",
                    "show_current_game",
                    "status",
                    "stream_notifications_enabled",
                    "theme",
                    "timezone_offset",
                    "view_nsfw_guilds"
                ]
            },
            "StickersResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/StickerResponse"
                }
            },
            "StickerPackResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "stickers": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StickerResponse"
                        }
                    },
                    "name": {
                        "type": "string"
                    },
                    "sku_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "cover_sticker_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "description": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "banner_asset_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    }
                },
                "required": [
                    "description",
                    "id",
                    "name",
                    "stickers"
                ]
            },
            "StickerResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "pack_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "tags": {
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/StickerType"
                    },
                    "format_type": {
                        "$ref": "#/components/schemas/StickerFormatType"
                    },
                    "available": {
                        "type": "boolean"
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/PartialUser"
                    },
                    "sort_value": {
                        "type": "integer"
                    }
                },
                "required": [
                    "description",
                    "format_type",
                    "id",
                    "name",
                    "tags",
                    "type"
                ]
            },
            "ActivitySessionUpdateSchema": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "application_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "duration": {
                        "minimum": 0,
                        "maximum": 1800,
                        "type": "integer"
                    },
                    "share_activity": {
                        "type": "boolean"
                    },
                    "distributor": {
                        "type": "string"
                    },
                    "exe_path": {
                        "maxLength": 128,
                        "type": "string"
                    },
                    "voice_channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "session_id": {
                        "type": "string"
                    },
                    "media_session_id": {
                        "type": "string"
                    },
                    "closed": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "application_id"
                ]
            },
            "ActivitySchema": {
                "type": "object",
                "properties": {
                    "afk": {
                        "type": "boolean"
                    },
                    "status": {
                        "$ref": "#/components/schemas/Status"
                    },
                    "activities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Activity"
                        }
                    },
                    "since": {
                        "type": "integer"
                    }
                },
                "required": [
                    "status"
                ]
            },
            "AgeVerificationVerifySchema": {
                "type": "object"
            },
            "ApplicationEmojiModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "minLength": 2,
                        "maxLength": 32,
                        "pattern": "^[A-Za-z0-9_]+$",
                        "type": "string"
                    }
                }
            },
            "ApplicationIdentitiesSchema": {
                "type": "object",
                "properties": {
                    "user_ids": {
                        "minItems": 1,
                        "maxItems": 100,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "user_ids"
                ]
            },
            "ApplicationAuthorizeSchema": {
                "type": "object",
                "properties": {
                    "authorize": {
                        "type": "boolean"
                    },
                    "guild_id": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "permissions": {
                        "type": "string"
                    },
                    "captcha_key": {
                        "type": "string"
                    },
                    "code": {
                        "minLength": 6,
                        "maxLength": 8,
                        "type": "string"
                    }
                },
                "required": [
                    "authorize",
                    "guild_id",
                    "permissions"
                ]
            },
            "AttachmentFalsePositiveReportSchema": {
                "type": "object",
                "properties": {
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "pattern": "^\\d{1,20}$",
                        "type": "string"
                    },
                    "message_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "pattern": "^\\d{1,20}$",
                        "type": "string"
                    },
                    "attachment_ids": {
                        "maxItems": 100,
                        "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 20,
                            "pattern": "^\\d{1,20}$"
                        },
                        "type": "array"
                    },
                    "embed_ids": {
                        "maxItems": 100,
                        "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 32,
                            "pattern": "^embed_\\d+$"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "attachment_ids",
                    "channel_id",
                    "embed_ids",
                    "message_id"
                ]
            },
            "AttachmentSenderFalsePositiveReportSchema": {
                "type": "object",
                "properties": {
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "pattern": "^\\d{1,20}$",
                        "type": "string"
                    },
                    "message_id": {
                        "description": "A locally-generated ID representing the message.",
                        "pattern": "^\\d{1,20}$",
                        "type": "string"
                    },
                    "attachment_ids": {
                        "maxItems": 100,
                        "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 20,
                            "pattern": "^\\d{1,20}$"
                        },
                        "type": "array"
                    },
                    "filenames": {
                        "maxItems": 100,
                        "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 1024
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "attachment_ids",
                    "channel_id",
                    "filenames",
                    "message_id"
                ]
            },
            "AutomodMentionSpamRuleSchema": {
                "type": "object",
                "properties": {
                    "mention_total_limit": {
                        "type": "integer"
                    },
                    "mention_raid_protection_enabled": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "mention_raid_protection_enabled",
                    "mention_total_limit"
                ]
            },
            "AutomodSuspectedSpamRuleSchema": {
                "type": "object"
            },
            "AutomodCommonlyFlaggedWordsRuleSchema": {
                "type": "object",
                "properties": {
                    "allow_list": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "presets": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AutomodKeywordPresetType"
                        }
                    }
                },
                "required": [
                    "allow_list",
                    "presets"
                ]
            },
            "AutomodCustomWordsRuleSchema": {
                "type": "object",
                "properties": {
                    "allow_list": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "keyword_filter": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "regex_patterns": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "allow_list",
                    "keyword_filter",
                    "regex_patterns"
                ]
            },
            "AutomodRuleSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "event_type": {
                        "$ref": "#/components/schemas/AutomodRuleEventType"
                    },
                    "trigger_type": {
                        "$ref": "#/components/schemas/AutomodRuleTriggerType"
                    },
                    "actions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AutomodAction"
                        }
                    },
                    "trigger_metadata": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AutomodMentionSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodSuspectedSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCommonlyFlaggedWordsRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCustomWordsRuleSchema"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "exempt_channels": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "exempt_roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "actions",
                    "event_type",
                    "name",
                    "trigger_type"
                ]
            },
            "AutomodRuleModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "event_type": {
                        "enum": [
                            1,
                            2
                        ],
                        "type": "number"
                    },
                    "actions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AutomodAction"
                        }
                    },
                    "trigger_metadata": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AutomodMentionSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodSuspectedSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCommonlyFlaggedWordsRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCustomWordsRuleSchema"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "exempt_channels": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "exempt_roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "AutomodRuleResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "creator_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "event_type": {
                        "$ref": "#/components/schemas/AutomodRuleEventType"
                    },
                    "exempt_channels": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "exempt_roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "guild_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "position": {
                        "type": "integer"
                    },
                    "actions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AutomodAction"
                        }
                    },
                    "trigger_type": {
                        "$ref": "#/components/schemas/AutomodRuleTriggerType"
                    },
                    "trigger_metadata": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AutomodMentionSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodSuspectedSpamRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCommonlyFlaggedWordsRuleSchema"
                            },
                            {
                                "$ref": "#/components/schemas/AutomodCustomWordsRuleSchema"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                },
                "required": [
                    "actions",
                    "creator_id",
                    "enabled",
                    "event_type",
                    "exempt_channels",
                    "exempt_roles",
                    "guild_id",
                    "id",
                    "name",
                    "position",
                    "trigger_metadata",
                    "trigger_type"
                ]
            },
            "AutomodRulesResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/AutomodRuleResponse"
                }
            },
            "BackupCodesChallengeSchema": {
                "type": "object",
                "properties": {
                    "password": {
                        "minLength": 1,
                        "maxLength": 72,
                        "type": "string"
                    }
                },
                "required": [
                    "password"
                ]
            },
            "BanCreateSchema": {
                "type": "object",
                "properties": {
                    "delete_message_seconds": {
                        "type": "integer"
                    },
                    "delete_message_days": {
                        "type": "integer"
                    },
                    "reason": {
                        "type": "string"
                    }
                }
            },
            "BanModeratorSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "executor_id": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                },
                "required": [
                    "executor_id",
                    "guild_id",
                    "id",
                    "user_id"
                ]
            },
            "BanRegistrySchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "executor_id": {
                        "type": "string"
                    },
                    "ip": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    }
                },
                "required": [
                    "executor_id",
                    "guild_id",
                    "id",
                    "user_id"
                ]
            },
            "BotModifySchema": {
                "type": "object",
                "properties": {
                    "avatar": {
                        "format": "image-data-uri",
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "banner": {
                        "format": "image-data-uri",
                        "type": "string"
                    }
                }
            },
            "BulkBanSchema": {
                "type": "object",
                "properties": {
                    "user_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "delete_message_seconds": {
                        "type": "integer"
                    }
                },
                "required": [
                    "user_ids"
                ]
            },
            "BulkDeleteSchema": {
                "type": "object",
                "properties": {
                    "messages": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "messages"
                ]
            },
            "ChannelBaseModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "topic": {
                        "type": "string"
                    },
                    "icon": {
                        "format": "image-data-uri",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "bitrate": {
                        "type": "integer"
                    },
                    "user_limit": {
                        "type": "integer"
                    },
                    "rate_limit_per_user": {
                        "type": "integer"
                    },
                    "position": {
                        "type": "integer"
                    },
                    "invitable": {
                        "type": "boolean"
                    },
                    "permission_overwrites": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "type": {
                                    "$ref": "#/components/schemas/ChannelPermissionOverwriteType"
                                },
                                "allow": {
                                    "type": "string"
                                },
                                "deny": {
                                    "type": "string"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "allow",
                                "deny",
                                "id",
                                "type"
                            ]
                        }
                    },
                    "applied_tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "parent_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "id": {
                        "type": "string"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "rtc_region": {
                        "type": "string"
                    },
                    "default_auto_archive_duration": {
                        "type": "integer"
                    },
                    "default_reaction_emoji": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "icon_emoji": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomIconEmoji"
                            },
                            {
                                "$ref": "#/components/schemas/UnicodeIconEmoji"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "flags": {
                        "type": "integer"
                    },
                    "default_thread_rate_limit_per_user": {
                        "type": "integer"
                    },
                    "video_quality_mode": {
                        "type": "integer"
                    },
                    "auto_archive_duration": {
                        "type": "integer"
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "locked": {
                        "type": "boolean"
                    },
                    "available_tags": {
                        "type": "array",
                        "items": {
                            "additionalProperties": false,
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "moderated": {
                                    "type": [
                                        "null",
                                        "boolean"
                                    ]
                                },
                                "emoji_id": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                },
                                "emoji_name": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                },
                                "id": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "name"
                            ]
                        }
                    }
                }
            },
            "ChannelModifySchema": {
                "type": "object",
                "properties": {
                    "type": {
                        "enum": [
                            0,
                            5
                        ],
                        "type": "number"
                    },
                    "status": {
                        "maxLength": 500,
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "name": {
                        "type": "string"
                    },
                    "topic": {
                        "type": "string"
                    },
                    "icon": {
                        "format": "image-data-uri",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "bitrate": {
                        "type": "integer"
                    },
                    "user_limit": {
                        "type": "integer"
                    },
                    "rate_limit_per_user": {
                        "type": "integer"
                    },
                    "position": {
                        "type": "integer"
                    },
                    "invitable": {
                        "type": "boolean"
                    },
                    "permission_overwrites": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "type": {
                                    "$ref": "#/components/schemas/ChannelPermissionOverwriteType"
                                },
                                "allow": {
                                    "type": "string"
                                },
                                "deny": {
                                    "type": "string"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "allow",
                                "deny",
                                "id",
                                "type"
                            ]
                        }
                    },
                    "applied_tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "parent_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "id": {
                        "type": "string"
                    },
                    "nsfw": {
                        "type": "boolean"
                    },
                    "rtc_region": {
                        "type": "string"
                    },
                    "default_auto_archive_duration": {
                        "type": "integer"
                    },
                    "default_reaction_emoji": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "icon_emoji": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/CustomIconEmoji"
                            },
                            {
                                "$ref": "#/components/schemas/UnicodeIconEmoji"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "flags": {
                        "type": "integer"
                    },
                    "default_thread_rate_limit_per_user": {
                        "type": "integer"
                    },
                    "video_quality_mode": {
                        "type": "integer"
                    },
                    "auto_archive_duration": {
                        "type": "integer"
                    },
                    "archived": {
                        "type": "boolean"
                    },
                    "locked": {
                        "type": "boolean"
                    },
                    "available_tags": {
                        "type": "array",
                        "items": {
                            "additionalProperties": false,
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "moderated": {
                                    "type": [
                                        "null",
                                        "boolean"
                                    ]
                                },
                                "emoji_id": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                },
                                "emoji_name": {
                                    "type": [
                                        "null",
                                        "string"
                                    ]
                                },
                                "id": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "name"
                            ]
                        }
                    }
                }
            },
            "ChannelPermissionOverwriteSchema": {
                "type": "object",
                "properties": {
                    "allow": {
                        "type": "string"
                    },
                    "deny": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "$ref": "#/components/schemas/ChannelPermissionOverwriteType"
                    }
                },
                "required": [
                    "allow",
                    "deny",
                    "id",
                    "type"
                ]
            },
            "ChannelReorderSchema": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string"
                        },
                        "position": {
                            "type": "integer"
                        },
                        "lock_permissions": {
                            "type": "boolean"
                        },
                        "parent_id": {
                            "type": [
                                "null",
                                "string"
                            ]
                        }
                    },
                    "additionalProperties": false,
                    "required": [
                        "id"
                    ]
                }
            },
            "ChannelCallModifySchema": {
                "type": "object",
                "properties": {
                    "region": {
                        "type": "string"
                    }
                }
            },
            "ChannelCallRingSchema": {
                "type": "object",
                "properties": {
                    "recipients": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                }
            },
            "ChannelCallStopRingingSchema": {
                "type": "object",
                "properties": {
                    "recipients": {
                        "anyOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                }
            },
            "ChannelRecipientMeUpdateSchema": {
                "type": "object",
                "properties": {
                    "consent_status": {
                        "$ref": "#/components/schemas/ChannelRecipientMeConsentStatus"
                    }
                },
                "required": [
                    "consent_status"
                ]
            },
            "ChannelSafetyWarningsAckSchema": {
                "type": "object",
                "properties": {
                    "warning_ids": {
                        "minItems": 1,
                        "maxItems": 100,
                        "items": {
                            "type": "string",
                            "minLength": 1
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "warning_ids"
                ]
            },
            "CodesVerificationSchema": {
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "nonce": {
                        "type": "string"
                    },
                    "regenerate": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "key",
                    "nonce"
                ]
            },
            "ConfettiConsumableApplySchema": {
                "type": "object",
                "properties": {
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "pattern": "^[0-9]+$",
                        "type": "string"
                    },
                    "message_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "pattern": "^[0-9]+$",
                        "type": "string"
                    },
                    "emoji_name": {
                        "minLength": 1,
                        "type": "string"
                    }
                },
                "required": [
                    "channel_id",
                    "emoji_name",
                    "message_id"
                ]
            },
            "HDStreamingConsumableApplySchema": {
                "type": "object",
                "properties": {
                    "channel_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "pattern": "^[0-9]+$",
                        "type": "string"
                    }
                },
                "required": [
                    "channel_id"
                ]
            },
            "ConnectedAccountSchema": {
                "type": "object",
                "properties": {
                    "external_id": {
                        "type": "string"
                    },
                    "user_id": {
                        "type": "string"
                    },
                    "token_data": {
                        "$ref": "#/components/schemas/ConnectedAccountTokenData"
                    },
                    "friend_sync": {
                        "type": "boolean"
                    },
                    "name": {
                        "type": "string"
                    },
                    "revoked": {
                        "type": "boolean"
                    },
                    "show_activity": {
                        "type": "integer"
                    },
                    "type": {
                        "type": "string"
                    },
                    "verified": {
                        "type": "boolean"
                    },
                    "visibility": {
                        "type": "integer"
                    },
                    "integrations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "metadata_": {},
                    "metadata_visibility": {
                        "type": "integer"
                    },
                    "two_way_link": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "external_id",
                    "name",
                    "type",
                    "user_id"
                ]
            },
            "ConnectedAccountCommonOAuthTokenResponse": {
                "type": "object",
                "properties": {
                    "access_token": {
                        "type": "string"
                    },
                    "token_type": {
                        "type": "string"
                    },
                    "scope": {
                        "type": "string"
                    },
                    "refresh_token": {
                        "type": "string"
                    },
                    "expires_in": {
                        "type": "integer"
                    }
                },
                "required": [
                    "access_token",
                    "scope",
                    "token_type"
                ]
            },
            "ConnectionCallbackSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "insecure": {
                        "type": "boolean"
                    },
                    "friend_sync": {
                        "type": "boolean"
                    },
                    "two_way_link_code": {
                        "type": "string"
                    },
                    "openid_params": {
                        "$ref": "#/components/schemas/ConnectionCallbackOpenIdParams"
                    }
                },
                "required": [
                    "code",
                    "state"
                ]
            },
            "ConnectionUpdateSchema": {
                "type": "object",
                "properties": {
                    "visibility": {
                        "type": "boolean"
                    },
                    "show_activity": {
                        "type": "boolean"
                    },
                    "metadata_visibility": {
                        "type": "boolean"
                    }
                }
            },
            "DmChannelCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "recipients": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "recipient_id": {
                        "type": "string"
                    },
                    "access_tokens": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "EmailDomainLookupSchema": {
                "type": "object",
                "properties": {
                    "allow_multiple_guilds": {
                        "type": "boolean"
                    },
                    "email": {
                        "type": "string"
                    },
                    "use_verification_code": {
                        "type": "boolean"
                    },
                    "guild_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "allow_multiple_guilds",
                    "email",
                    "use_verification_code"
                ]
            },
            "EmailDomainLookupVerifyCodeSchema": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "guild_id": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "email",
                    "guild_id"
                ]
            },
            "EmojiCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "image": {
                        "format": "image-data-uri",
                        "type": "string"
                    },
                    "require_colons": {
                        "type": [
                            "null",
                            "boolean"
                        ]
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "image"
                ]
            },
            "EmojiModifySchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "ForgotPasswordSchema": {
                "type": "object",
                "properties": {
                    "login": {
                        "type": "string"
                    },
                    "captcha_key": {
                        "type": "string"
                    }
                },
                "required": [
                    "login"
                ]
            },
            "GameInviteCreateSchema": {
                "type": "object",
                "properties": {
                    "recipient_id": {
                        "description": "A Twitter-like snowflake, except the epoch is 2015-01-01T00:00:00.000Z\n```\nIf we have a snowflake '266241948824764416' we can represent it as binary:\n\n64                                          22     17     12          0\n 000000111011000111100001101001000101000000  00001  00000  000000000000\n      number of ms since Discord epoch       worker  pid    increment\n```",
                        "type": "string"
                    },
                    "launch_parameters": {
                        "maxLength": 8192,
                        "type": "string"
                    },
                    "application_asset": {
                        "format": "uri",
                        "type": "string"
                    },
                    "application_name": {
                        "minLength": 2,
                        "maxLength": 128,
                        "type": "string"
                    },
                    "fallback_url": {
                        "format": "uri",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "ttl": {
                        "minimum": 300,
                        "maximum": 86400,
                        "type": "integer"
                    }
                },
                "required": [
                    "application_asset",
                    "application_name",
                    "launch_parameters",
                    "recipient_id"
                ]
            },
            "GreetRequestSchema": {
                "type": "object",
                "properties": {
                    "sticker_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "allowed_mentions": {
                        "$ref": "#/components/schemas/AllowedMentions"
                    },
                    "message_reference": {
                        "type": "object",
                        "properties": {
                            "message_id": {
                                "type": "string"
                            },
                            "channel_id": {
                                "type": "string"
                            },
                            "guild_id": {
                                "type": "string"
                            },
                            "fail_if_not_exists": {
                                "type": "boolean"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "message_id"
                        ]
                    }
                },
                "required": [
                    "sticker_ids"
                ]
            },
            "GuildCreateRoleSchema": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "managed": {
                        "type": "boolean"
                    },
                    "flags": {
                        "type": "integer"
                    },
                    "name": {
                        "maxLength": 255,
                        "type": "string"
                    },
                    "permissions": {
                        "type": "string"
                    },
                    "color": {
                        "type": "integer"
                    },
                    "hoist": {
                        "type": "boolean"
                    },
                    "mentionable": {
                        "type": "boolean"
                    },
                    "position": {
                        "type": "integer"
                    },
                    "icon": {
                        "format": "image-data-uri",
                        "type": "string"
                    },
                    "unicode_emoji": {
                        "type": "string"
                    },
                    "colors": {
                        "type": "object",
                        "properties": {
                            "primary_color": {
                                "type": "integer"
                            },
                            "secondary_color": {
                                "type": [
                                    "null",
                                    "integer"
                                ]
                            },
                            "tertiary_color": {
                                "type": [
                                    "null",
                                    "integer"
                                ]
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "primary_color"
                        ]
                    }
                }
            },
            "GuildCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "maxLength": 100,
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "icon": {
                        "format": "image-data-uri",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "verification_level": {
                        "type": [
                            "null",
                            "integer"
                        ]
                    },
                    "default_message_notifications": {
                        "type": [
                            "null",
                            "integer"
                        ]
                    },
                    "explicit_content_filter": {
                        "type": [
                            "null",
                            "integer"
                        ]
                    },
                    "afk_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "system_channel_flags": {
                        "type": "integer"
                    },
                    "channels": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ChannelCreateSchema"
                        }
                    },
                    "roles": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildCreateRoleSchema"
                        }
                    },
                    "system_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "rules_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "safety_alerts_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "guild_template_code": {
                        "type": "string"
                    },
                    "staff_only": {
                        "type": "boolean"
                    }
                }
            },
            "GuildDeleteSchema": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string"
                    }
                }
            },
            "GuildDiscoveryMetadataUpdateSchema": {
                "type": "object",
                "properties": {
                    "primary_category_id": {
                        "type": [
                            "null",
                            "integer"
                        ]
                    },
                    "is_published": {
                        "type": "boolean"
                    },
                    "about": {
                        "type": [
                            "null",
                            "string"
                        ]
                    }
                }
            },
            "GuildSubscriptionsBulkSchema": {
                "type": "object",
                "properties": {
                    "subscriptions": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/GuildSubscriptionSchema"
                        }
                    }
                },
                "required": [
                    "subscriptions"
                ]
            },
            "GuildSubscriptionSchema": {
                "type": "object",
                "properties": {
                    "channels": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "array",
                                "items": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "activities": {
                        "type": "boolean"
                    },
                    "threads": {
                        "type": "boolean"
                    },
                    "typing": {
                        "const": true,
                        "type": "boolean"
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "member_updates": {
                        "type": "boolean"
                    },
                    "thread_member_lists": {
                        "type": "array",
                        "items": {}
                    }
                }
            },
            "GuildTemplateCreateSchema": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "icon": {
                        "format": "image-data-uri",
                        "type": [
                            "null",
                            "string"
                        ]
                    }
                },
                "required": [
                    "name"
                ]
            },
            "GuildUpdateSchema": {
                "type": "object",
                "properties": {
                    "icon": {
                        "format": "image-data-uri-or-asset-hash",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "banner": {
                        "format": "image-data-uri-or-asset-hash",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "splash": {
                        "format": "image-data-uri-or-asset-hash",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "description": {
                        "type": "string"
                    },
                    "features": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "verification_level": {
                        "type": "integer"
                    },
                    "default_message_notifications": {
                        "type": "integer"
                    },
                    "system_channel_flags": {
                        "type": "integer"
                    },
                    "explicit_content_filter": {
                        "type": "integer"
                    },
                    "public_updates_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "afk_timeout": {
                        "type": "integer"
                    },
                    "afk_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "preferred_locale": {
                        "type": "string"
                    },
                    "premium_progress_bar_enabled": {
                        "type": "boolean"
                    },
                    "profile_tag": {
                        "minLength": 1,
                        "maxLength": 4,
                        "pattern": "^[A-Za-z0-9]+$",
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "discovery_splash": {
                        "format": "image-data-uri-or-asset-hash",
                        "type": "string"
                    },
                    "safety_alerts_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "name": {
                        "maxLength": 100,
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "system_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "rules_channel_id": {
                        "type": [
                            "null",
                            "string"
                        ]
                    },
                    "guild_template_code": {
                        "type": "string"
                    },
                    "staff_only": {
                        "type": "boolean"
                    }
                }
            },
            "GuildUpdateWelcomeScreenSchema": {
                "type": "object",
                "properties": {
                    "welcome_channels": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "channel_id": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "emoji_id": {
                                    "type": "string"
                                },
                                "emoji_name": {
                                    "type": "string"
                                }
                            },
                            "additionalProperties": false,
                            "required": [
                                "channel_id",
                                "description"
                            ]
                        }
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "description": {
                        "type": "string"
                    }
                }
            },
            "HubWaitlistSignupSchema": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "school": {
                        "type": "string"
                    }
                },
                "required": [
                    "email",
                    "school"
                ]
            },
            "HypeSquadOnlineCreateSchema": {
                "type": "object",
                "properties": {
                    "house_id": {
                        "$ref": "#/components/schemas/HypeSquadOnlineHouse"
                    }
                },
                "required": [
                    "house_id"
                ]
            },
            "InviteCreateSchema": {
                "type": "object",
                "properties": {
                    "target_user_id": {
                        "type": "string"
                    },
                    "target_type": {
                        "type": "string"
                    },
                    "validate": {
                        "type": "string"
                    },
                    "max_age": {
                        "type": "integer"
                    },
                    "max_uses": {
                        "type": "integer"
                    },
                    "temporary": {
                        "type": "boolean"
                    },
                    "unique": {
                        "type": "boolean"
                    },
                    "target_user": {
                        "type": "string"
                    },
                    "target_user_type": {
                        "type": "integer"
                    },
                    "flags": {
                        "type": "integer"
                    }
                }
            },
            "APIErrorResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "$ref": "#/components/schemas/APIErrorResponseErrorTree"
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            },
            "APIErrorResponseFieldError": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            },
            "APIErrorResponseErrorTree": {
                "type": "object",
                "additionalProperties": {
                    "anyOf": [
                        {
                            "$ref": "#/components/schemas/APIErrorResponseErrorTree"
                        },
                        {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/APIErrorResponseFieldError"
                            }
                        }
                    ]
                },
                "properties": {
                    "_errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/APIErrorResponseFieldError"
                        }
                    }
                }
            },
            "CaptchaRequiredResponse": {
                "type": "object",
                "properties": {
                    "captcha_key": {
                        "type": "string"
                    },
                    "captcha_sitekey": {
                        "type": "string"
                    },
                    "captcha_service": {
                        "type": "string"
                    }
                },
                "required": [
                    "captcha_key",
                    "captcha_service",
                    "captcha_sitekey"
                ]
            },
            "APIErrorOrCaptchaResponse": {
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/APIErrorResponse"
                    },
                    {
                        "$ref": "#/components/schemas/CaptchaRequiredResponse"
                    }
                ]
            },
            "AccountStandingResponse": {
                "type": "object",
                "properties": {
                    "classifications": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Classification"
                        }
                    },
                    "guild_classifications": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GuildClassification"
                        }
                    },
                    "account_standing": {
                        "type": "object",
                        "properties": {
                            "state": {
                                "$ref": "#/components/schemas/AccountStandingState"
                            }
                        },
                        "additionalProperties": false,
                        "required": [
                            "state"
                        ]
                    },
                    "is_dsa_eligible": {
                        "type": "boolean"
                    },
                    "username": {
                        "type": "string"
                    },
                    "discriminator": {
                        "type": "string"
                    },
                    "is_appeal_eligible": {
                        "type": "boolean"
                    },
                    "appeal_eligibility": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AppealEligibility"
                        }
                    }
                },
                "required": [
                    "account_standing",
                    "appeal_eligibility",
                    "classifications",
                    "discriminator",
                    "guild_classifications",
                    "is_appeal_eligible",
                    "is_dsa_eligible",
                    "username"
                ]
            },
            "ActiveThreadsResponse": {
                "type": "object",
                "properties": {
                    "threads": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ActiveThreadsChannel"
                        }
                    },
                    "members": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ActiveThreadsThreadMember"
                        }
                    }
                },
                "required": [
                    "members",
                    "threads"
                ]
            },
            "ApplicationModifySchema": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "icon": {
                        "format": "image-data-uri",
                        "type": "string"
                    },
                    "cover_image": {
                        "format": "image-data-uri",
                        "type": "string"
                    },
                    "interactions_endpoint_url": {
                        "type": "string"
                    },
[...]
